{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Password changed" %} · Codesigner{% endblock %}

{% block content %}
    <h1>{% translate "Password changed" %}</h1>
    <div class="alert info" style="max-width: 34rem; margin-top: 1rem;">
        {% translate "Your password has been changed. Other browsers signed in as you will need it next time." %}
    </div>
    <p style="margin-top: 1rem;">
        <a class="btn" href="{% url 'ui:account' %}">{% translate "Back to your account" %}</a>
    </p>
{% endblock %}
