{% extends "ui/_confirm_page.html" %}
{% load i18n %}

{% block confirm_title %}{% blocktranslate with name=experiment.name %}Delete {{ name }}{% endblocktranslate %}{% endblock %}
{% block confirm_heading %}{% translate "Delete experiment" %}{% endblock %}

{% block confirm_message %}
    {% blocktranslate with name=experiment.name ref=experiment.identifier %}Are you sure you want to delete <strong>{{ name }}</strong> (<code>{{ ref }}</code>)? This cannot be undone.{% endblocktranslate %}
{% endblock %}

{% block confirm_buttons %}
    <button type="submit" class="btn-primary">{% translate "Delete" %}</button>
{% endblock %}

{% block confirm_cancel %}{% url 'ui:experiment_detail' experiment.pk %}{% endblock %}
